 body {
	font-family: Verdana;
	margin: 0;
}

body * {
	box-sizing: border-box;
}

.app {
	height: 100vh;
	overflow-y: hidden;
	display: flex;
}

.canvas {
	width: 100%;
    height: 100%;
    cursor: crosshair;
}

/*
    NavBar
*/

.nav-bar {
    background: #59646e;  
}

.nav-bar__tool {
    width: 45px;
    height: 40px;
    margin-bottom: 5px;

    
}

.nav-bar__tool > svg {
	width: 100%;
    height: 100%;
    
}

.nav-bar__tool:active {
    display: block;
    background-color: #b5226e;
}

/*
Tool Panels
*/

.tool-panel {
    background: #eff0f3;
    flex-shrink: 0;
    width: 222px;

}



/* for the slider */
#stroke-width{
    -webkit-appearance: none;
    width: 50%;
    height: 7px;
    border-radius: 5px;
    background: #b3acac;
    border: 2px ridge rgba(49, 44, 44, 0.781);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 15px;
    margin-left: 10px;
  
}

#stroke-width::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(255, 253, 253);
    border: 2px solid rgba(83, 83, 83, 0.336);
    
    cursor: pointer;
  }

  #stroke-width::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(255, 253, 253);
    border: 1px solid black;
    cursor: pointer;
  }

/* Pen tool panel */
.pen-panel{
    padding-left: 8px;
}
#stroke-color-header{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;

    

}
#stroke-color-container{
    margin-left: -8px;
    
}
#stroke-width-container{
    margin-top: 30px;
    margin-bottom: 30px;

}

#stroke-width-words{
    font-size: 20px;
    font-weight: 600;

}

#line-type-container{
    display: flex;
    justify-content: center;
    

    
}
#line-type-container button{
    border: none;
}

#solid {
    width: 30%;
    height: 25px;
    margin-right: 4px;
    font-weight: 500;
}

#dashed{
    width: 30%;
    height: 25px;
    margin-right: 4px;    
    font-weight: 500;

}

#dotted{
    width: 30%;
    height: 25px;
    margin-right: 4px;
    font-weight: 500;
    
}

#last-6-colors{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

#color1{
    display: block;
    width: 16%;
    height: 30px;
    border: 1px solid rgba(83, 83, 83, 0.336);

}

#color2{
    display: block;
    width: 16%;
    height: 30px;
    border: 1px solid rgba(83, 83, 83, 0.336);

}

#color3{
    display: bl ock;
    width: 16%;
    height: 30px;
    border: 1px solid rgba(83, 83, 83, 0.336);

}
#color4{
    display: block;
    width: 16%;
    height: 30px;
    border: 1px solid rgba(83, 83, 83, 0.336);

}
#color5{
    display: block;
    width: 16%;
    height: 30px;
    border: 1px solid rgba(83, 83, 83, 0.336);

}


/* For eraser panel */

.reset-button{
    background: #b5226e;
    width: 150px;
    height: 40px;
    margin-top: 15px;

    font-size: 15px;
    color: white;
    border-radius: 5px;
    border: none;
}

/* for download panel */

.download-button{
    background: #b5226e;
    width: 150px;
    height: 35px;
    color: white;
    border-radius: 5px;


}